@using System.Web.Mvc.Html
@model Coevery.DeveloperTools.EntityManagement.ViewModels.PublishConfirmViewModel
@{
    var modules = Model.Modules.Select(m => new SelectListItem {
        Text = m.Name,
        Value = m.Id
    });
}
<header id="page-title" class="ng-scope">
        <h1 class="pull-left">Publish Confirm</h1>
    </header>

    <section id="main-content" style="margin-top: 47px" class="ng-scope">
        <div id="page-actions" class="clearfix">
            <div class="btn-toolbar pull-left" style="left: auto;">
                <button class="btn btn-small" data-ng-click="exit()">@T("Back<")</button>
                <button type="submit" class="btn btn-small btn-primary" data-ng-click="publish()">@T("Publish")</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="form-horizontal no-border">
                    @using (Html.BeginFormAntiForgeryPost(Url.Action("PublishConfirm"), FormMethod.Post,
                        new {@class = "edit-mode", id = "myForm"})) {
                        <fieldset>
                            <legend>Please choose which module to settle the generated files</legend>
                            <section class="data-row control-group">
                                <div class="span6">
                                    <label class="control-label required" for="DisplayName">Output Module</label>
                                    <div class="controls errortips">
                                        @Html.DropDownListFor(m=>m.ModuleId, modules, new{@class="span12", required=""})
                                    </div>
                                </div>
                                <div class="span6">
                                </div>
                            </section>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </section>