<header id="page-title" class="ng-scope">
    <h1 class="pull-left">Lead <span>create a new Lead</span></h1>
</header>
<section id="main-content">
    @if (Model.Actions != null) {
        @Display(Model.Actions)
    }
    @Display(Model.Content)
</section>