<#@ template debug="false" hostspecific="true" language="C#" #>
@{
    string displayName = Model.ContentItem.TypeDefinition.DisplayName;
    string description = string.Format(T("view the {0}").Text, displayName);
}
<header id="page-title" class="ng-scope">
    <h1 class="pull-left">@displayName <span>@description</span></h1>
</header>
<section id="main-content">
    @if (Model.Actions != null) {
        @Display(Model.Actions)
    }
    @Display(Model.Content)
</section>