@using Coevery.UI.Navigation
@{
    var menus = Model.ItemList;
}

<nav id="navigation" class="no-perspective">
    @if (menus.Count > 0) {
        <ul class="menu-level-0">
            @foreach (MenuItem menu in menus) {
                @Display.MenuItem(Item: menu, Level: 1)
            }
        </ul>
    }
</nav>