@using Coevery.Utility.Extensions
<div class="data-row clearfix">
    <div class="control controls">
        <button type="submit" class="btn btn-small btn-primary">@T("Save changes")</button>
        @{
            var returnUrl = Request.QueryString["returnUrl"];
        }
        @if (!String.IsNullOrWhiteSpace(returnUrl) && Request.IsLocalUrl(returnUrl))
        {
            <a class="btn btn-small" href="@returnUrl">@T("Cancel")</a>
        }
    </div>
</div>