@{
    Style.Require("pnotify");
    Style.Require("Module");

    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("pnotify");
    
    Script.Require("require");
    Script.Require("spin");
}

<div data-loading-indicator id="loading">@T("Loading...")</div>

<section  class="ng-cloak" ui-view>
</section>

@using (Script.Foot()) {
    @Display.ClientRoute(IsFrontEnd: false)
}