@{
    string name = Model.ContentField.DisplayName;
    string value = Model.ContentField.Value;
}

<span class="control-label">@T(name)</span>
<div class="controls">
    <span class="control-text">@T(value)</span>
</div>
