<div class="form-structure">
    <section class="edit-mode span12">
        <form class="form-horizontal" method="post" name="myForm" novalidate="novalidate">
            <fieldset class="data-section">
                <legend class="title">Sample Title</legend>
                <div class="data-row clearfix">
                    <div class="row-left span6">
                        <div class="control-group">
                            @Display.DisplayField(part: Model.ContentPart, fieldName: "Subject")
                        </div>
                    </div>
                    <div class="row-right span6">
                        <div class="control-group">
                            @Display.DisplayField(part: Model.ContentPart, fieldName: "CompanyName")
                        </div>
                    </div>
                </div>
                <div class="data-row clearfix">
                    <div class="row-left span6">
                        <div class="control-group">
                        </div>
                    </div>
                    <div class="row-right span6">
                        <div class="control-group">
                            @Display.DisplayField(part: Model.ContentPart, fieldName: "Description")
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>