@{
    Style.Require("jqGrid");
    Style.Require("jqGridCustom");
    Script.Require("jqGrid");
}

<div class="row-fluid">
    <table id="leadGrid"></table>
    <section id="leadGridPager"></section>
</div>

@using (Script.Foot()) {
    <script type="text/javascript">
        jQuery("#leadGrid").jqGrid({
            url: '@Href("~/api/Sample.Lead/LeadApi")',
            datatype: "json",
            colModel: [
                { "name": "Id", "label": "Content Id", "hidden": true, "key": true },
                { "name": "Subject", "label": "Subject" },
                { "name": "Description", "label": "Description" },
                { "name": "CompanyName", "label": "Company Name" }
            ],
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#leadGridPager',
            viewrecords: true,
            height: '100%',
            pagerpos: "right",
            recordpos: "left",
            sortable: true,
            headertitles: true,
            multiselect: true,
            multiboxonly: true,
            autowidth: true,
            jsonReader: {
                page: "page",
                total: "totalPages",
                records: "totalRecords",
                repeatitems: false
            }
        });
    </script>
}